.dropzone {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px dashed #4ED17F;
  color: #4CD89B;
}

.dropzone--active {
  background-color: rgba(76, 216, 155, 0.1);
}

.dropzone--reject {
  background-color: rgba(216, 97, 76, 0.1);
}
